
<form class="flex items-center">   
    <label for="simple-search" class="sr-only">Search</label>
    <div class="w-full">
        <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-5 p-2.5  " placeholder="Search" required="">
    </div>
    <button type="submit" class="p-2 ml-3 text-sm font-medium bg-gray-50 border border-gray-300 text-gray-900 rounded-lg"><i class="fa-solid fa-magnifying-glass"></i> </button>
</form>
