<div class="relative md:pt-10 pb-10 ">
    <!-- Card stats -->
    <div class="flex flex-wrap">
        <div class="w-full rounded-lg md:w-1/2">

            <div class=" py-4 px-5 rounded-lg shadow-md">
                <a class=" text-blueGray-700 hover:text-blueGray-500 text-lg block mb-4 no-underline font-semibold"
                    href="#"><i class="fa-solid fa-book mr-2 text-blueGray-400 text-base"></i>
                    Title</a>

                <div id="table-container" class="">
                    <div class="w-full items-center "> 
                        <%= render '/shortcut/search' %>                         
                    </div>
                    
                    <%= render '/shortcut/table'%>
                </div>
            </div>
            
        </div>
    </div>
    <!-- End stats -->
</div>


