<%= form_with(model: akses_modul, class: "contents") do |form| %>
<% if akses_modul.errors.any? %>
<div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
  <h2><%= pluralize(akses_modul.errors.count, "error") %> prohibited this akses_modul from being saved:</h2>

  <ul>
    <% akses_modul.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="shadow-md rounded-lg py-5 px-5 mt-3">
  <div class="flex flex-col mb-4 mt-1">
    <%= form.label :modul_id %>
    <%= form.collection_select :modul_id, Modul.order(:nama_modul),:id,:nama_modul, {include_blank: true}, {class: "rounded-lg mt-2"} %>
  </div>

  <div class="my-5 flex flex-col ">
    <%= form.label :user_role_id %>
    <%# form.text_field :user_role_id, class: " block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full " %>
    <%= form.collection_select :user_role_id, UserRole.order(:name_roles),:id,:name_roles, {include_blank: true}, {class: "rounded-lg mt-2"} %>
  </div>
</div>

<div class="inline">
  <%= form.submit class: "rounded-lg py-3 mt-5 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer sm:flex-row" %>
</div>

<% end %>