<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-2xl mb-5">Editing Akses Modul</h1>

  <%= render "form", akses_modul: @akses_modul %>

  <%= link_to "Show this akses modul", @akses_modul, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to akses moduls", akses_moduls_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
