<div
  class="block p-6  bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <div class="mx-auto md:w-2/3 w-full">
    <h1 class="font-bold text-2xl">New Akses Modul</h1>

    <%= render "form", akses_modul: @akses_modul %>

    <%= link_to 'Back to akses moduls', akses_moduls_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>