<%= form_with(model: user, class: "contents") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-6">
    <%= form.label :name_user, class: "mt-10" %>
    <%= form.text_field :name_user, class: "mt-2 block shadow rounded-lg border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5 flex flex-col mt-5">
    <%= form.label :user_role_id %>
    <%# <%= form.text_field :user_roles, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <%= form.collection_select :user_role_id, UserRole.order(:name_roles),:id,:name_roles, {include_blank: true}, {class: "rounded-lg mt-2"} %>
  </div>

  <div class="inline">
    <%= form.submit class: "mt-5 rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
