  <%= form_with(model: user_role, class: "contents") do |form| %>

  <% if user_role.errors.any? %>
  <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
    <h2><%= pluralize(user_role.errors.count, "error") %> prohibited this user_role from being saved:</h2>

    <ul>
      <% user_role.errors.each do |error| %>
      <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <div class="my-5">
    <%= form.label :name_roles %>
    <%= form.text_field :name_roles, class: "block shadow rounded-lg border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5 mt-5">
    <%= form.label :roles_level %>
    <%= form.text_field :roles_level, class: "block shadow rounded-lg border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline ">
    <input href="/user_roles" type="submit" name="commit" value="Update User role"
      class="mt-5 rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer"
      data-disable-with="Update User role">
  </div>

  <% end %>