<div class="block p-6  bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
 
    <h1 class="font-bold text-xl text-blueGray-700 hover:text-blueGray-500 block mb-5">Editing user role</h1>
    <%= render "form", user_role: @user_role %>
    <%= link_to "Back to user roles", user_roles_path, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium ml-3" %>
  
</div>