<div class="block p-6  bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <div class="mb-5">
    <h1 class="font-bold text-xl text-blueGray-700 hover:text-blueGray-500 block ">New user role</h1>
  </div>

  <%= render "form", user_role: @user_role %>
  <%= link_to 'Back to user roles', user_roles_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <!-- <button class="rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer">Create User Roles</button> -->
</div>
