<div class="w-full">
  <% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class=" py-4 px-5 rounded-lg shadow-md">
    <div class="flex justify-between items-center mb-1">
      <h1 class="font-bold text-xl text-blueGray-700 hover:text-blueGray-500 block "><i
          class="fa-solid fa-user-secret text-2xl mr-2 text-blueGray-400 rounded-full bg-white text-white p-2"></i>Moduls
      </h1>
      <a class="rounded-lg py-2 px-4 bg-blue-600 text-white block font-medium" href="/moduls/new">Create
        Modul</a>
    </div>

    <div id="table-container" class="mt-10">
       <!-------------- Search -------------->
      <div class="w-full items-center">
        <%= render '/shortcut/search' %>
      </div>
      <!-------------- End Search -------------->

      <div class="py-2">
        <div class="relative border-red-500 rounded-lg overflow-x-auto shadow-md sm:rounded-lg mt-5">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
            <thead class="text-xs border-b border-gray-500 text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="p-4">
                  <div class="flex items-center">
                    <input id="checkbox-all-search" type="checkbox"
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="checkbox-all-search" class="sr-only">checkbox</label>
                  </div>
                </th>
                <th scope="col" class="px-6 py-3">
                  Name User
                </th>
                <th scope="col" class="px-6 py-3">
                  User Roles
                </th>
                <th scope="col" class="px-6 py-3">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="text-sm divide-y divide-gray-100">
              <%= render @moduls %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



